/** inject css */
;(function () {
    var style = document.createElement('style'),
        scripts = document.getElementsByTagName('script'),
        script = scripts[ scripts.length - 1 ],
        css = "<%= css %>";

    style.setAttribute('type', 'text/css');
    if ( style.styleSheet ) {
        style.styleSheet.cssText = css;
    } else {
        style.appendChild( document.createTextNode(css) );
    }

    script.parentNode.insertBefore(style, script);

    // export current script node into the window
    window.__script = script;
}());

/** inject core */
<%= core %>

/** inject reporter */
<%= reporter %>

/** Runner */
;(function() {
    var jasmineEnv = jasmine.getEnv(),
        htmlReporter = new jasmine.HtmlReporter(),
        currentOnload = window.onload,
        isAsync = typeof window.__script.getAttribute('data-async') === 'string';

    jasmineEnv.updateInterval = 250;
    jasmineEnv.addReporter(htmlReporter);

    jasmineEnv.specFilter = function(spec) {
        return htmlReporter.specFilter(spec);
    };

    if (isAsync) {

        // export async execution function
        window.jasmineAsyncDone = function () {
            jasmineEnv.execute();
        }
    } else {

        // run specs onload
        window.onload = function () {
            if (typeof currentOnload === 'function') {
                currentWindowOnload();
            }

            jasmineEnv.execute();
        };
    }
}());
